image: alpine

stages:
  - build
  - deploy

# Dockerize:
#   stage: build
#   script:
#     - docker pull $CI_REGISTRY_IMAGE:latest || true
#     - docker build --cache-from $CI_REGISTRY_IMAGE:latest --tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA --tag $CI_REGISTRY_IMAGE:latest .
#     - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
#     - docker push $CI_REGISTRY_IMAGE:latest
#   only:
#     - master

Deploy:
  stage: deploy
  before_script:
    - touch abcdef
    - echo $SSH_KEY
    - sh -c "echo "$SSH_KEY" > abcdef"
    - cat abcdef

  script:
    - ssh ec2-user@api.thongnt.space
    - ls
  only:
    - auto-deploy
