image: docker:19.03.8

services:
    - docker:19.03.8-dind

before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

stages:
  - deploy

Dockerize:
  stage: build
  script:
    - docker pull $CI_REGISTRY_IMAGE:latest || true
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest --tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA --tag $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker push $CI_REGISTRY_IMAGE:latest
  only:
    - master

Deploy:
  stage: deploy
  script: 
    - echo $ssh_config > ~/.ssh/config
    - ls ~/.ssh
    - cat ~/.ssh/config
    only:
      - auto-deploy
